.blog {
	// display: flex;
	// flex-wrap: wrap;
	padding: 45px 0;

	&__item {
		$blog__item: &;

		// flex: 50%;
		// width: 50%;
		padding: 15px;
		display: flex;
		align-items: stretch;

		&__img {
			flex: 50%;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transition: transform 0.4s ease-out;
				filter: grayscale(80%);
			}

			&__buttons {
				position: absolute;
				bottom: 20px;
				left: 20px;
				right: 20px;
				margin: auto;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: center;

				& > * {
					&:first-child {
						margin: 3px;
					}

					&:last-child {
						margin: 3px;
					}
				}
			}
		}

		&__content {
			flex: 50%;
			padding: 45px 38px;
			background-color: #333333;
			position: relative;

			&__title {
				color: #ffffff;
				font-size: 1.125rem;
				font-weight: 600;
				font-family: 'Raleway', sans-serif;
			}

			&__info {
				color: #707070;
				font-size: 0.75rem;
				line-height: 26px;
				padding-bottom: 20px;
				text-transform: uppercase;
			}

			&__body {
				font-size: 1rem;
				line-height: 26px;
				color: #707070;
			}

			&::before {
				content: '';
				position: absolute;
				top: 35px;
				left: -21px;
				clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0%);
				width: 42px;
				height: 42px;
				background-color: #333333;
			}
		}

		&:hover #{$blog__item}__img img {
			transform: scale(1.4);
		}
	}
}
